Repository jeertmans/manim-slides, pull requests merged in 2024-11, with the labels that each got.

#440 feat(convert): allow fully offline HTML presentation
  .readthedocs.yaml
  CHANGELOG.md
  docs/source/reference/magic_example.ipynb
  manim_slides/convert.py
  manim_slides/templates/revealjs.html
  pyproject.toml
  tests/test_convert.py
  uv.lock
Labels: enhancement, html-convert

#484 fix(docs): some typos
  docs/source/installation.md
Labels: documentation

#488 feat(cli): allow multiple reverses
  CHANGELOG.md
  manim_slides/present/player.py
Labels: enhancement, present
